.ticket-details-container {
  display: flex;
  width: 700px;
  padding: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 40px;
  border: 1px solid #0E464F;
  background: #041E23;
  margin: 46px auto 0 auto;
  height: 100%;
}

.ticket-details-container .ticket-heading {
  display: flex;
  width: 100%;
  align-items: center;
  
}

.progress-bar-heading {
  height: 4px;
  align-items: center;
  border-radius: 5px;
  background: #0E464F;
  width: 100%;
  position: relative;
}

.progress-bar-heading::before {
  content: "";
  height: 4px;
  width: 242px;
  align-self: stretch;
  border-radius: 5px;
  background: #24A0B5;
  position: absolute;
  left: 0;
}

.ticket-details-container .attendee-frame {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid #0E464F;
  background: #08252B;
}



.ticket-details-container .attendee-frame .file-wrapper {
  display: flex;
  width: 556px;
  padding: 24px 24px 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid #07373F;
  background: #052228;
}

.ticket-details-container .attendee-frame .file-wrapper h3 {
  color: #FAFAFA;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

}

.ticket-details-container .attendee-frame .file-wrapper .file-wrap {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.20);

}

.ticket-details-container .attendee-frame .file-wrapper .file-upload-box {
  display: flex;
  width: 240px;
  height: 240px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 4px solid rgba(36, 160, 181, 0.50);
  background: #0E464F;
  color: #FAFAFA;
  overflow: hidden;
}

.ticket-details-container .attendee-frame .file-wrapper .file-upload-box input {
  align-items: center;
  width: 100%;
}

.ticket-details-container .attendee-frame .file-wrapper .file-upload-box label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-align: center;
}

.ticket-details-container .attendee-frame .file-wrapper .file-upload-box label .download-icon {
  margin-bottom: 40px;
}

.ticket-details-container .attendee-frame .file-wrapper .file-wrap .file-upload-box .preview-container {
  width: 80%;
  height: 100%;
  
}

.ticket-details-container .attendee-frame .file-wrapper .file-wrap .file-upload-box .preview-container .preview-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.ticket-details-container .attendee-frame .progress-bar {
  height: 4px;
  align-items: center;
  border-radius: 5px;
  background: #07373F;
  width: 100%;
}

.ticket-details-container .attendee-frame form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.ticket-details-container .attendee-frame form .input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.ticket-details-container .attendee-frame form .input-group label {
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 20px;
}

.ticket-details-container .attendee-frame form .input-group .input-field {
  display: flex;
  height: 48px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #07373F;
  width: 100%;
  color: #FAFAFA;
}

.ticket-details-container .attendee-frame form .input-group .input-field input {
  background: transparent;
  border: none;
  outline: none;
  color: #FAFAFA;
}

.ticket-details-container .attendee-frame form .input-group .input-field input::placeholder {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ticket-details-container .attendee-frame form .input-group textarea {
  display: flex;
  height: 127px;
  padding: 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #07373F;
  background-color: transparent;
  resize: none;
  outline: none;
}


.ticket-details-container .attendee-frame .btns {
  display: flex;
  gap: 16px;
  width: 100%;
}

.ticket-details-container .attendee-frame .btns button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: none;
  background: transparent;
  border: 1px solid #24A0B5;
  color: #24A0B5;
  font-family: JejuMyeongjo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ticket-details-container .attendee-frame .btns button:hover {
  background: #24A0B5;
  color: #FFF;
}


.ticket-details-container .error-message {
  color: red;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}



@media (max-width: 768px) {

  .ticket-details-container {
    width: 100%;
    padding: 15px;
  }

  .ticket-details-container .ticket-heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }


  .ticket-details-container .attendee-frame{
    width: 100%;
  }

  .ticket-details-container .attendee-frame .file-wrapper{
    width: 100%;
  }

  
  .ticket-details-container .attendee-frame .file-wrapper .file-wrap{
    width: 100%;
    border: none;
    background: none;
  }

  .ticket-details-container .attendee-frame .btns {
    display: flex;
    flex-direction: column;
  
  }




}